.home {
  .filters {
    border-radius: 5px;
    border: 1px solid #d8d8d8;
  }
}

.home {
  .tbl-home {
    overflow: auto;

    .table {
      .action {
        background-color: gray;
        color: white;
        padding: 7px;
        border-radius: 5px;
      }

      .action:hover {
        background-color: #8e8e8e;
      }

      .data {
        min-width: 9rem;
      }
    }
  }
}

::ng-deep {
  .mat-multiselect {
    .dropdown-button {
      color: #000 !important;
      border: 1px solid #c6c6c6 !important;
      border-radius: 5px !important;
      padding: 9px 5px !important;
    }

    .selection {
      color: #000;
      padding-bottom: 0 !important;
      border-bottom: unset !important;
    }
  }
}
