<div class="home">
  <div class="filters">
    <div class="col-12 d-flex">
      <div class="form-group col-2 p-2">
        <label for="program">Program</label>
        <select class="form-select" aria-label="Program" multiple [(ngModel)]="selectedFilters.TST_PGM_CDE" (ngModelChange)="onFilterChange($event, 'program')">
          <option [value]="opt" *ngFor="let opt of fileidOptions">{{opt}}</option>
        </select>
      </div>
      <div class="form-group col-2 p-2">
        <label for="source">Source</label>
        <select class="form-select" aria-label="Source" multiple [(ngModel)]="selectedFilters.SRC_SYS_ID" (ngModelChange)="onFilterChange($event, 'source')">
          <option [value]="opt" *ngFor="let opt of sourceOptions">{{opt}}</option>
        </select>
      </div>
      <div class="form-group col-2 p-2">
        <label for="target">Target</label>
        <select class="form-select" aria-label="Target" multiple [(ngModel)]="selectedFilters.TRGT_SYS_ID" (ngModelChange)="onFilterChange($event, 'target')">
          <option [value]="opt" *ngFor="let opt of targetOptions">{{opt}}</option>
        </select>
      </div>
      <div class="form-group col-4 p-2">
        <label for="filename">File Name</label>
        <select class="form-select" aria-label="File Name" multiple [(ngModel)]="selectedFilters.FLE_NAM" (ngModelChange)="onFilterChange($event, 'filename')">
          <option [value]="opt" *ngFor="let opt of filenameOptions">{{opt}}</option>
        </select>
      </div>
      <div class="form-group col-2 p-2">
        <label for="datatypename">Data Type Name</label>
        <select class="form-select" aria-label="Data type Name" multiple [(ngModel)]="selectedFilters.DTA_TYP_NAM" (ngModelChange)="onFilterChange($event, 'datatypename')">
          <option [value]="opt" *ngFor="let opt of datatypeOptions">{{opt}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 d-flex">
      <div class="form-group col-2 p-2">
        <label for="fileprocessstartdate">File Process Start Date</label>
        <input type="date" class="form-control" id="fileprocessstartdate" />
      </div>
      <div class="form-group col-2 p-2">
        <label for="fileprocessenddate">File Process End Date</label>
        <input type="date" class="form-control" id="fileprocessstartdate" />
      </div>
      <div class="form-group col-3 p-2">
        <button class="btn btn-primary mt-4" (click)="onSearch()">SUBMIT</button>
      </div>
    </div>
  </div>
  <div class="tbl-home">
    <div class="col-12 text-end mt-4">
      <button class="btn btn-primary mx-3" (click)="createNew()">Create New</button>
      <button class="btn btn-danger" [disabled]="isDisableDelete()" (click)="onDeleteBulk()">Delete Selected</button>
    </div>
    <table class="table border my-2" *ngIf="!!pemsRecords && !!pemsRecords.length">
      <thead>
        <tr>
          <th><input class="form-check-input" type="checkbox" [(ngModel)]="selectedAll" (ngModelChange)="selectAllToggle()"></th>
          <th scope="col">Edit Item</th>
          <th scope="col">Delete</th>
          <th scope="col">File ID</th>
          <th scope="col">Program</th>
          <th scope="col">Test Date</th>
          <th scope="col">Source</th>
          <th scope="col">Target</th>
          <th scope="col">File Name</th>
          <th scope="col">Data Type</th>
          <th scope="col">File Seq</th>
          <th scope="col">File Type</th>
          <th scope="col">File Process Date</th>
          <th scope="col">Record Count</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Last Updated Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of filteredRecords">
          <td>
            <input class="form-check-input" type="checkbox" [(ngModel)]="record.isSelected" />
          </td>
          <td class="data">
            <span class="cursor-pointer action" (click)="onEdit(record)">Edit Item</span>
          </td>
          <td class="data">
            <span class="cursor-pointer action" (click)="onDelete(record)">Delete</span>
          </td>
          <td class="data">{{record.FLE_ID}}</td>
          <td class="data">{{record.TST_PGM_CDE}}</td>
          <td class="data">{{record.TST_ADM__TST_DTE | date: 'dd-MM-yyyy hh:mm'}}</td>
          <td class="data">{{record.SRC_SYS_ID}}</td>
          <td class="data">{{record.TRGT_SYS_ID}}</td>
          <td class="data">{{record.FLE_NAM}}</td>
          <td class="data">{{record.DTA_TYP_NAM}}</td>
          <td class="data">{{record.FLE_SEQ_NO}}</td>
          <td class="data">{{record.FILE_TYPE_CODE}}</td>
          <td class="data">{{record.FLE_PRCSD_DTE | date: 'dd-MM-yyyy hh:mm'}}</td>
          <td class="data">{{record.TOT_RCD_CNT}}</td>
          <td class="data">{{record.FLE_CRETN_DTM | date: 'dd-MM-yyyy hh:mm'}}</td>
          <td class="data">{{record.LST_UPDT_DTM | date: 'dd-MM-yyyy hh:mm'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="my-4" *ngIf="!pemsRecords || (!!pemsRecords && !pemsRecords.length)">
    No records available.
  </p>
</div>
